.appBar {
  width: 100vw;
  height: 80px;
  background: linear-gradient(var(--primary-main), 70%, transparent);
  color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.appBar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.appBar button {
  color: #fefefe;
  border: none;
  background: none;
  font-size: 16px;
}

.appBar button:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .appBar h1 {
    font-size: 20px;
  }
  .appBar a,
  .appBar button {
    font-size: 12px;
  }
  .appBar nav {
    gap: 8px;
  }
}
