.authPage {
  width: 100vw;
  height: calc(100vh - 88px);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 1em;
  font-family: var(--font-mono);
}

.authToggle:has(.toggleBtnLogin) > p:nth-child(3) {
  color: var(--secondary-light);
}
.authToggle:has(.toggleBtnSignup) > p:nth-child(1) {
  color: var(--primary-light);
}

.authToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
  line-height: 20px;
}

.btnHolster {
  height: 100%;
  width: 48px;
  border-radius: 12px;
  padding: 1px;
  box-shadow: 0 0 2px #fff;
}

.btnHolster button {
  width: 50%;
  height: 100%;
  border: none;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.toggleBtnSignup {
  transform: translateX(0);
  transition: 0.2s ease-in-out;
  background: var(--primary-light);
}
.toggleBtnLogin {
  transform: translateX(100%);
  transition: 0.2s ease-in-out;
  background: var(--secondary-light);
}

.authPage h2 {
  margin: 8px 0px;
}

.authPage h4 {
  height: 50px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.authPage form {
  padding: 20px 0px;
  width: 380px;
  height: 360px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.authPage input {
  width: 90%;
  height: 3em;
  padding: 0px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--primary-dark);
  color: #fff;
  font-family: var(--font-mono);
}

.authPage input:focus {
  outline: none;
  border: 1px solid var(--primary-light);
}

.authPage form label {
  font-size: 14px;
}

.authPage input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
}

input.invalidP:focus {
  border: 2px solid var(--guess-wrong);
}
input.validP:focus {
  border: 2px solid var(--guess-correct);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  gap: 2em;
}
.submitBtn {
  width: 90%;
  height: 3em;
  border-radius: 4px;
  border: none;
  text-align: center;
  background: var(--primary-light);
  color: #fff;
  box-shadow: 0 4px var(--primary-main);
  font-family: var(--font-mono);
}
.submitBtn:hover {
  cursor: pointer;
}
.submitBtn:active {
  box-shadow: none;
  transform: translateY(4px);
}

.error {
  height: 20px;
  color: var(--guess-none);
}
