.game {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--primary-light);
}

.game h1 {
  width: 100%;
  text-align: center;
  font-size: clamp(3rem, 100%, 6rem);
}

.game input {
  width: 100%;
  text-align: center;
  height: 3rem;
  border: 1px solid var(--primary-light);
  background: none;
  color: var(--secondary-light);
}

.game input:focus {
  border: 2px solid var(--secondary-main);
  outline: none;
}

.noMatch {
  color: var(--guess-none);
}

.match {
  color: var(--guess-correct);
}

@media screen and (max-width: 800px) {
  .game {
    width: 90%;
  }
}
