.game {
  width: 50%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--primary-light);
}

.wordHolder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game h1 {
  font-size: clamp(2rem, 100%, 4rem);
  font-family: var(--font-mono);
  min-width: 12px;
  text-align: center;
}

.game input {
  width: 90%;
  text-align: center;
  height: 3rem;
  border: transparent;
  border-bottom: 2px solid var(--primary-dark);
  background: none;
  color: transparent;
  transform: translateY(-100%);
}

.game input:focus {
  border-bottom: 2px solid var(--secondary-dark);
  outline: none;
}

.game input.inputMatch {
  border-bottom: 2px solid var(--guess-correct);
}

.noMatch {
  color: var(--guess-none);
}

.wrongMatch {
  color: var(--guess-wrong);
}

.match,
.game p {
  color: var(--guess-correct);
}

.gameTools {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.gameTools button {
  width: 40%;
  height: 40px;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid var(--primary-main);
  color: var(--primary-light);
  background: none;
  transition: 0.2s;
}

.gameTools button:hover {
  cursor: pointer;
  border: 1px solid var(--primary-dark);
  color: var(--secondary-light);
  transition: 0.2s;
}

.gameTools button:active {
  border: none;
}

@media screen and (max-width: 800px) {
  .game {
    width: 90%;
    padding-top: 2rem;
  }
}
