.game {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--primary-light);
}

.noMatch {
  color: var(--guess-none);
}

.match {
  color: var(--guess-correct);
}

@media screen and (max-width: 800px) {
  .game {
    width: 90%;
  }
}
