.highScorePage {
  width: 100vw;
  height: calc(100vh - 80px);
  color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.scoreTable {
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 70%;
  text-align: left;
  display: block;
}

.scoreTable thead {
  height: 34px;
}

.scoreTable .scoreTableBody {
  height: calc(100% - 40px);
  overflow: auto;
  color: #dcdcdc;
  display: block;
}

.scoreTable td {
  font-family: var(--font-mono);
  height: 32px;
}

.scoreTable tr,
.scoreTable thead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
  padding: 0px 4px;
}

.scoreTable td:first-child,
.scoreTable th:first-child {
  width: 55%;
  text-align: right;
}

.scoreTable td:not(:first-child),
.scoreTable th:not(:first-child) {
  width: calc(25% / 2);
  text-align: center;
}

.scoreTable td:nth-child(2),
.scoreTable th:nth-child(2) {
  width: 20%;
  text-align: center;
}

.scoreTable tr:hover {
  background: #ffffff20;
  transition: 0.2s;
}

.perfect {
  color: var(--guess-correct);
}

.scoreUser {
  color: var(--primary-light);
}

.currentUserScore {
  color: var(--secondary-light);
  letter-spacing: 2px;
}
