.highScorePage {
  width: 100vw;
  height: calc(100vh - 80px);
  color: #fff;
  display: flex;
  justify-content: center;
}

.scoreTable {
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  text-align: left;
}

.scoreTable td {
  font-family: var(--font-mono);
}
