.highScorePage {
  width: 100vw;
  height: calc(100vh - 80px);
  color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.scoreTable {
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 70%;
  text-align: left;
  display: block;
}

.scoreTable thead {
  height: 40px;
}

.scoreTable .scoreTableBody {
  height: calc(100% - 40px);
  overflow: auto;
  color: #dcdcdc;
  display: block;
}

.scoreTable td {
  font-family: var(--font-mono);
  height: 32px;
}

.scoreTable tr,
.scoreTable thead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
  padding: 0px 4px;
}

.scoreTable td:first-child,
.scoreTable th:first-child {
  width: 55%;
  text-align: right;
}

.scoreTable td:not(:first-child),
.scoreTable th:not(:first-child) {
  width: calc(25% / 2);
  text-align: center;
}

.scoreTable td:nth-child(2),
.scoreTable th:nth-child(2) {
  width: 20%;
  text-align: center;
}

.scoreTable tr:hover {
  background: #ffffff20;
  transition: 0.2s;
}

.perfect {
  color: var(--guess-correct);
}

.scoreUser {
  color: var(--primary-light);
}

.currentUserScore {
  color: var(--secondary-light);
  letter-spacing: 2px;
}

.scoreTable th input {
  height: 24px;
  width: calc(100% - 40px);
  color: #fff;
  font-size: 18px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffffff50;
}

.scoreTable th input:focus {
  outline: none;
  border-bottom: 2px solid var(--secondary-light);
}

.scoreTable th:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  display: inline-block;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzAiIGhlaWdodD0iMzAiCnZpZXdCb3g9IjAgMCAzMCAzMCI+CjxwYXRoIGQ9Ik0gMTMgMyBDIDcuNDg4OTk3MSAzIDMgNy40ODg5OTcxIDMgMTMgQyAzIDE4LjUxMTAwMyA3LjQ4ODk5NzEgMjMgMTMgMjMgQyAxNS4zOTY1MDggMjMgMTcuNTk3Mzg1IDIyLjE0ODk4NiAxOS4zMjIyNjYgMjAuNzM2MzI4IEwgMjUuMjkyOTY5IDI2LjcwNzAzMSBBIDEuMDAwMSAxLjAwMDEgMCAxIDAgMjYuNzA3MDMxIDI1LjI5Mjk2OSBMIDIwLjczNjMyOCAxOS4zMjIyNjYgQyAyMi4xNDg5ODYgMTcuNTk3Mzg1IDIzIDE1LjM5NjUwOCAyMyAxMyBDIDIzIDcuNDg4OTk3MSAxOC41MTEwMDMgMyAxMyAzIHogTSAxMyA1IEMgMTcuNDMwMTIzIDUgMjEgOC41Njk4Nzc0IDIxIDEzIEMgMjEgMTcuNDMwMTIzIDE3LjQzMDEyMyAyMSAxMyAyMSBDIDguNTY5ODc3NCAyMSA1IDE3LjQzMDEyMyA1IDEzIEMgNSA4LjU2OTg3NzQgOC41Njk4Nzc0IDUgMTMgNSB6Ij48L3BhdGg+Cjwvc3ZnPg==")
    50% 50% no-repeat;
  background-size: 100%;
  filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg)
    brightness(106%) contrast(106%);
}

@media screen and (max-width: 600px) {
  .scoreTable {
    width: 100%;
  }
  .scoreTable th {
    font-size: 12px;
  }
  .scoreTable td {
    height: 44px;
    font-size: 10px;
  }
}
